<header>
  <div class="container">
    <%= image_tag "sana_logo.png", class: "sana_logo"%>
    <nav>
      <ul>
        <li><%= link_to "Search Here", "api/v1/search" %></li>
      </ul>
    </nav>
  </div>
</header>